services:
  app:
    container_name: nfe-ui
    build: .
    command: sh -c "npm install && ng serve --host 0.0.0.0 --poll 2000"
    ports:
      - "4200:4200"
    volumes:
      - .:/app
      - node_modules:/app/node_modules

volumes:
  node_modules:
